

@import helper._

@main("Welcome to Play") {
	@insertDashboard(""){
		<div id="container">

        @form(action = routes.InsertController.insertItem, 'class -> "smart-search-form") {
        <h2 class="form-signin-heading">Insert item</h2>
            <div id="contactInfo">
            <p>Title:</p>
             <input id="insertItemTitle" name="insertItemTitle" type="text" class="form-control"/>
             <p>Short description:</p>
             <input id="insertItemShortDescription" name="insertItemShortDescription" type="text" class="form-control"/>
             <p>Description:</p>
             <textarea id="insertItemDescription" name="insertItemDescription" class="form-control"></textarea>
             <p>Image url:</p>
             <input id="insertItemIMG" name="insertItemIMG" type="text" class="form-control"/>
            </div>
            <input  class="btn btn-lg btn-primary btn-success" type="submit" value="Submit" />
        }
    </div>      
	}
}

