@import helper._

@main("Insert video") {
	@insertDashboard(""){
		<div id="container">

        @form(action = routes.InsertController.insertVideo, 'class -> "smart-search-form") {
        <h2 class="form-signin-heading">Insert a video</h2>
            <div id="contactInfo">
            <p>Title:</p>
              <input id="insertVideoTitle" name="insertVideoTitle" type="text"  class="form-control"/>
              <p>Short description:</p>
              <input id="insertVideoShortDescription" name="insertVideoShortDescription" type="text"  class="form-control"/>
              <p>Description</p>
              <textarea id="insertVideoDescription" name="insertVideoDescription" class="form-control"></textarea>
              <p>URL:</p>
              <input id="insertVideoURL" name="insertVideoURL" type="text"  class="form-control"/>
              <p>Image url</p>
              <input id="insertVideoIMG" name="insertVideoIMG" type="text"  class="form-control"/>	
            </div>
            <input  class="btn btn-lg btn-primary btn-success" type="submit" value="Submit" />
        }
    </div>      
	}
}


