@(books: List[models.rating.BookRating])
@main("Welcome to Play") {
	@smartSearchDashboard(""){
	
<div class="container">
	<div class="row">
	@if(books.size ==0){
		<p>No users found</p>
	}else{
		<div class="col-md-2">
		 	<h2>Books</h2>
		</div>
  		<div class="col-md-10">
  			<table class="table table-striped">
		    	<tr>
					<th>USER ID</th>
					<th>USER Rating</th>
				</tr>
				@for((book, index) <- books.zipWithIndex) {
			    <tr>
					<td>@book.userID</td>
					<td>@book.rating</td>
				</tr>
				}
			</table>  
  		</div>
  		}
	</div>
</div>	
	
			
	}
}
