@(videos: List[models.rating.VideoRating])
@main("Welcome to Play") {
	@smartSearchDashboard(""){
	
<div class="container">
	<div class="row">
	@if(videos.size == 0){
		<p>No users found</p>
	}else{
		<div class="col-md-2">
		 	<h2>Videos</h2>
		</div>
  		<div class="col-md-10">
  			<table class="table table-striped">
		    	<tr>
					<th>USER ID</th>
					<th>USER Rating</th>
				</tr>
				@for((video, index) <- videos.zipWithIndex) {
			    <tr>
					<td>@video.userID</td>
					<td>@video.rating</td>
				</tr>
				}
			</table>  
  		</div>
  		}
	</div>
</div>	
	
			
	}
}
