@(courses: List[models.rating.CourseRating])
@main("Welcome to Play") {
	@smartSearchDashboard(""){
	
<div class="container">
	<div class="row">
		@if(courses.size == 0) {
			<p>No items found</p>
		}else{
		<div class="col-md-2">
		 	<h2>Courses</h2>
		</div>
  		<div class="col-md-10">
  			<table class="table table-striped">
		    	<tr>
					<th>USER ID</th>
					<th>USER Rating</th>
				</tr>
				@for((course, index) <- courses.zipWithIndex) {
			    <tr>
					<td>@course.userID</td>
					<td>@course.rating</td>
				</tr>
				}
			</table>  
  		</div>
  		}
	</div>
</div>	
	
			
	}
}
