@import helper._

@main("Welcome to Play") {
	@smartSearchDashboard(""){
		<div id="container">
		 <h2 class="form-signin-heading">Search by COURSE ID</h2>
        @helper.form(action=routes.SmartSearchController.searchUserByCoursePref(), 'class ->"smart-search-form") {      
            <div id="contactInfo">
              <input type='text' name='courseid' id='courseid' class="form-control" />
            </div>
            <p></p>
            <input class="btn btn-lg btn-primary btn-success" type="submit" value="Submit" />
        }
    </div>      
	}
}

