@(ratings: List[models.rating.RatingWrapper], count:Int, page:Int,pageLength:Int, dataType: String)
@import helper._
@main("") {

<div id="container">
	<div class="panel panel-default">
		<div class="panel-body">
			<h2>@dataType rating</h2>
	</div>

		<table class="table table-striped">
			<tr>
				<th>User ID</th>
				<th>@dataType ID</th>
				<th>Rating</th>
			</tr>
			@for((rateItem, index) <- ratings.zipWithIndex) {
			<tr>
				<td>@rateItem.userID</td>
				<td>@rateItem.itemID</td>
				<td>@rateItem.rating</td>
			</tr>
			}
		</table>
	</div>
	@paginate(page, pageLength, count, routes.SmartSearchController.searchUserByID(_))
</div>

} 





