@import helper._

@main("Welcome to Play") { @smartSearchDashboard(""){
<div id="container">
	<h2>Search by title:</h2>
	@helper.form(action=routes.SmartSearchController.search, 'class ->"smart-search-form") {
	<select id="selectItem" name="selectItem">
		<option value="video">Video</option>
		<option value="course">Course</option>
		<option value="book">Book</option>
		<option value="item">Abstract item</option>
	</select>
	<p></p>
	<div id="contactInfo">
		<input type='text' name='title' id='title' class="form-control" />
	 </div>
	 <p></p>
	<input class="btn btn-lg btn-primary btn-success" type="submit"
		value="Submit" /> 
	}
</div>
} 
}

