@main("") {
<div class="jumbotron">
  <h1>What is recomender system</h1>
  <p>Recommender systems or recommendation systems (sometimes replacing "system" with a synonym such as platform or engine) are a subclass of information filtering system that seek to predict the 'rating' or 'preference' that user would give to an item.[1][2]

Recommender systems have become extremely common in recent years, and are applied in a variety of applications. The most popular ones are probably movies, music, news, books, research articles, search queries, social tags, and products in general. However, there are also recommender systems for experts, jokes, restaurants, financial services,[3] life insurance, persons (online dating), and Twitter followers.
</p>
<p>definition from wikipedia</p>
</div>
}