@(items: List[Course])(recType:String)
														
@main("Course recommendation") {
	@recommendationsDashboard("Course recommendation"){
		<div id="container">
		<h1></h1>
			@if(items.size ==0) { <br />
			<h1>No recommendations found for this user</h1>
			} else {
			<h2>@recType</h2>
			<table id="recommendations" class="table table-striped">
				<tr>
					<th>Course id</th>
					<th>Course name</th>
					<th>Course description/topic</th>
				</tr>
				@for((item, index) <- items.zipWithIndex) {
				    <tr>
						<td>@item.id</td>
						<td>@item.title</td>
						<td>@item.description</td>
					</tr>
				}
			</table> 
			}
	  </div>
  }
}