@main("Video") { @recommendationsDashboard(""){
<div class="jumbotron">
	<p>Currently SSRS supports:</p>
	<h2>User based</h2>
	<ul>
		<li>Pearson correlation</li>
		<li>Pearson weighted correlation</li>
		<li>Euclidean correlation</li>
		<li>Euclidean weighted correlation</li>
		<li>Spearman correlation</li>
		<li>Tanimoto coefficient</li>
	</ul>
	<h2>Item based</h2>
	<ul>
		<li>Pearson correlation</li>
		<li>Pearson weighted correlation</li>
		<li>Euclidean correlation</li>
		<li>Euclidean weighted correlation</li>
		<li>Spearman correlation</li>
	</ul>
</div>
} }
