@(title: String)(content: Html)
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-3 col-md-2 sidebar">
			<ul class="nav nav-sidebar">
				<li><a href="/admin">Admin home</a></li>
				
				<li><a href="/admin/listUsers">List users</a></li>
				<li><a href="/admin/listCourses">List courses</a></li>
				<li><a href="/admin/listBooks">List Books</a></li>
				<li><a href="/admin/listVideos">List Videos</a></li>
				<li><a href="/admin/listAbstractItems">List Abstract items</a></li>
			</ul>

			<ul class="nav nav-sidebar">
				<li><a href="/admin/listCourseRatings">Courses rating</a></li>
				<li><a href="/admin/listBookRatings">Books rating</a></li>
				<li><a href="/admin/listVideoRatings">Videos rating</a></li>
				<li><a href="/admin/listAbstractItemsRatings">Abstract items rating</a></li>
			</ul>

			<ul class="nav nav-sidebar">
				<li><a href="/admin/integration">Integration with other
						systems</a></li>
			</ul>

		</div>
		<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
			<h1 class="page-header">Admin dashboard</h1>

			<div class="row placeholders">@content</div>

		</div>
	</div>
</div>