@main("Welcome to Play") {
	@adminDashboard(""){
	<div class="jumbotron">
	  <h2>@Messages("admin.greeting")</h2>
	  <p>@Messages("admin.title")</p>
	  <ul>
		<li>@Messages("admin.list.users")</li>
		<li>@Messages("admin.list.courses")</li>
		<li>@Messages("admin.list.videos")</li>
		<li>@Messages("admin.list.items")</li>
		<li>@Messages("admin.list.books")</li>
		<li>@Messages("admin.list.course.rating")</li>
		<li>@Messages("admin.list.video.rating")</li>
		<li>@Messages("admin.list.books.rating")</li>
		<li>@Messages("admin.list.items.rating")</li>
		<li>@Messages("admin.integration")</li>	
	  </ul>
	</div>
	}
}

