@main("Welcome to Play") { @adminDashboard(""){
<h1>SSRS provides integration with the following systems:</h1>

<div class="row">
	<div class="col-md-4">
		<h2><a href="https://www.coursera.org/">Coursera</a></h2>
		<h3>Get the latest courses from <a href="https://www.coursera.org/">Coursera</a></h3>
		<p>Coursera is a for-profit educational technology
			company founded by computer science professors Andrew Ng and Daphne
			Koller from Stanford University that offers massive open online
			courses (MOOCs). Coursera works with universities to make some of
			their courses available online, and offers courses in physics,
			engineering, humanities, medicine, biology, social sciences,
			mathematics, business, computer science, and other subjects. Coursera
			has an official mobile app for iOS and Android. As of October
			2014, Coursera has 10 million users in 839 courses from 114
			institutions.</p>
		<p>
			<a href="/get/courses/coursera" class="btn btn-primary btn-lg"
				role="button">GET latest courses</a>
		</p>
	</div>
	<div class="col-md-4">
		<h2><a href="https://www.udemy.com/courses/">Udemy</a></h2>
		<h3>Get the latest courses from <a href="https://www.udemy.com/courses/">Udemy</a></h3>
		<p>Udemy.com is a platform or marketplace for online learning.
			Unlike academic MOOC programs driven by traditional collegiate
			coursework, Udemy provides a platform for experts of any kind to
			create courses which can be offered to the public, either at no
			charge or for a tuition fee. Udemy provides tools which enable
			users to create a course, promote it and earn money from student
			tuition charges. No Udemy courses are currently credentialed for
			college credit; Its students take courses largely as a means of
			improving job-related skills. Some courses generate credit toward
			technical certification. Udemy has made a special effort to attract
			corporate trainers seeking to create coursework for employees of
			their company. It is reported that Udemy has served more than 3
			million students, and offers 16,000 course alternatives.</p>
		<p>
			<a href="/get/courses/udacity" class="btn btn-primary btn-lg"
				role="button">GET latest courses</a>
		</p>
	</div>
</div>

} }

