@(ratings: List[models.rating.AbstractItemRating], count:Int, page:Int,
pageLength:Int)
@import helper._
@main("Welcome to Play") { @adminDashboard(""){

<div id="container">
	
	<div class="panel panel-default">
		<div class="panel-body">
			<h2>List abstract items rating</h2>
			<ul class="list-inline">
				<li class="importButton">
					@form(action = routes.ImportDatasetController.importAbtractItemRatings, 'enctype -> "multipart/form-data") {
		    		   <input type="file" name="abstractItemsRatingInput">
		    		   <p></p>
		        	   <input type="submit" class="btn btn-primary" value="Import from CSV">
		    		}
	    		</li>		
				<li><a class="btn btn-success" href="/admin//admin/exportAbstractItemsRating/csv">Export as CSV</a></li>
				<li><a class="btn btn-success" href="/admin/exportAbstractItemsRating/json">Export as JSON</a></li>
				<li><a class="btn btn-danger" href="/admin/delete/abstractItemsRating">Delete all</a></li>
			</ul>
		</div>

		<table class="table table-striped">
			<tr>
				<th>User ID</th>
				<th>Item ID</th>
				<th>Rating</th>
			</tr>
			@for((rateItem, index) <- ratings.zipWithIndex) {
			<tr>
				<td>@rateItem.userID</td>
				<td>@rateItem.itemID</td>
				<td>@rateItem.rating</td>
			</tr>
			}
		</table>
	</div>
	@paginate(page, pageLength, count,
	routes.AdminController.listAbstractItemsRating(_))
</div>

} }





