@(users: List[User], count:Int, page:Int, pageLength:Int) 
@main("Welcometo Play") {
@adminDashboard(""){

<div id="container">
	<div class="panel panel-default">
		<div class="panel-body">
			<h2>List with users</h2>
			<a class="btn btn-primary" href="/admin/importUsers/csv">Import from CSV</a>
			<a class="btn btn-primary" href="/admin/importUsers/json">Import from JSON</a>
			<a class="btn btn-success" href="/admin/exportUsers/csv">Export as CSV</a>
			<a class="btn btn-success" href="/admin/exportUsers/json">Export as JSON</a>
			<a class="btn btn-danger" href="/admin/delete/users">Delete all</a>
		</div>

		<table class="table table-striped">
			<tr>
				<th>User ID</th>
				<th>User name</th>
				<th>E-mail</th>
			</tr>

			@for((user, index) <- users.zipWithIndex) {
			<tr>
				<td>@user.userID</td>
				<td>@user.name</td>
				<td>@user.email</td>
			</tr>
			}
		</table>
	</div>
	@paginate(page, pageLength, count, routes.AdminController.listUsers(_))
</div>

} }





