@(title: String)(content: Html)
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-3 col-md-2 sidebar">
			<ul class="nav nav-sidebar">
				<li><a href="/admin">Admin home</a></li>
				
				<li><a href="/admin/listUsers">@Messages("list.users")</a></li>
				<li><a href="/admin/listCourses">@Messages("list.courses")</a></li>
				<li><a href="/admin/listBooks">@Messages("list.books")</a></li>
				<li><a href="/admin/listVideos">@Messages("list.videos")</a></li>
				<li><a href="/admin/listAbstractItems">@Messages("list.items")</a></li>
			</ul>

			<ul class="nav nav-sidebar">
				<li><a href="/admin/listCourseRatings">@Messages("courses.rating")</a></li>
				<li><a href="/admin/listBookRatings">@Messages("books.rating")</a></li>
				<li><a href="/admin/listVideoRatings">@Messages("videos.rating")</a></li>
				<li><a href="/admin/listAbstractItemsRatings">@Messages("items.rating")</a></li>
			</ul>

			<ul class="nav nav-sidebar">
				<li><a href="/admin/integration">@Messages("admin.integration")</a></li>
				<li><a href="/admin/renderLoadData">@Messages("admin.loadData")</a></li>
			</ul>

		</div>
		<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
			<h1 class="page-header">@Messages("admin.dashboard")</h1>

			<div class="row placeholders">@content</div>

		</div>
	</div>
</div>