@import helper._
@main("Welcome to Play"){
@adminDashboard(""){
<h1>...</h1>
@form(action=routes.AdminController.loadData, 'class ->"smart-search-form") {
	<select id="dataType" name="dataType">
		<option value="demo-dataset">Demo</option>
		<option value="normal-dataset">Normal</option>
		<option value="large-dataset">Large</option>
	</select>
	 <p></p>
	<input class="btn btn-lg btn-primary btn-success" type="submit"
		value="Submit" /> 
	}
	
	<div class="row">
	<div class="col-md-4">
		<h2>Demo Database</h2>
		<p> Demo Database contains data for presenting the functionality of the Recommender system
		</p>
	</div>
	
	<div class="col-md-4">
		<h2>Normal Dataset</h2>
		<h3></h3>
		<p>Does no contain anything. Every user with permission to the code can add csv files here
		</p>
	</div>
	
	<div class="col-md-4">
		<h2>Large Dataset</h2>
		<p>Does no contain anything. Every user with permission to the code can add csv files here
		</p>
	</div>
	
</div>
	

} }

