@(users: List[User], count:Int, page:Int, pageLength:Int)

@import helper._
 
@main("Welcometo Play") {
@adminDashboard(""){

<div id="container">
	<div class="panel panel-default">
		<div class="panel-body">
			<h2>List with users</h2>
			<ul class="list-inline">
				<li class="importButton">
					@form(action = routes.ImportDatasetController.importUsers, 'enctype -> "multipart/form-data") {
		    		   <input type="file" name="usersInput">
		    		   <p></p>
		        	   <input type="submit" class="btn btn-primary" value="Import from CSV">
		    		}
	    		</li>		
				<li><a class="btn btn-success" href="/admin/exportUsers/csv">Export as CSV</a></li>
				<li><a class="btn btn-success" href="/admin/exportUsers/json">Export as JSON</a></li>
				<li><a class="btn btn-danger" href="/admin/delete/users">Delete all</a></li>
			</ul>
		</div>

		<table class="table table-striped">
			<tr>
				<th>User ID</th>
				<th>User name</th>
				<th>E-mail</th>
			</tr>

			@for((user, index) <- users.zipWithIndex) {
			<tr>
				<td>@user.userID</td>
				<td>@user.name</td>
				<td>@user.email</td>
			</tr>
			}
		</table>
	</div>
	@paginate(page, pageLength, count, routes.AdminController.listUsers(_))
</div>

} }





