@(ratings: List[models.rating.VideoRating], count:Int, page:Int, pageLength:Int)
@main("Welcome to Play") {
	@adminDashboard(""){

<div id="container">
	<div class="panel panel-default">
		<div class="panel-body">
			<h2>List video rating</h2>
			<a class="btn btn-primary" href="/admin/importVideoRatings/csv">Import from CSV</a>
			<a class="btn btn-primary" href="/admin/importVideoRatings/json">Import from JSON</a>
			<a class="btn btn-success" href="/admin/exportVideoRatings/csv">Export as CSV</a>
			<a class="btn btn-success" href="/admin/exportVideoRatings/json">Export as JSON</a>
			<a class="btn btn-danger" href="/admin/delete/videoRatings">Delete all</a>
		</div>
		
		<table class="table table-striped">
			<tr>
				<th>User ID</th>
				<th>Video ID</th>
				<th>Rating</th>
			</tr>
			@for((rateItem, index) <- ratings.zipWithIndex) {
			<tr>
				<td>@rateItem.userID</td>
				<td>@rateItem.videoID</td>
				<td>@rateItem.rating</td>
			</tr>
			}
		</table>
	</div>
	@paginate(page, pageLength, count, routes.AdminController.listVideoRating(_))
</div>

	} 
}