@(ratings: List[models.rating.BookRating], count:Int, page:Int,pageLength:Int)
@main("Welcome to Play") {
@adminDashboard(""){

<div id="container">
	<div class="panel panel-default">
		<div class="panel-body">
			<h2>Books rating</h2>
			<a class="btn btn-primary" href="/admin/importBookRatings/csv">Import from CSV</a>
			<a class="btn btn-primary" href="/admin/importBookRatings/json">Import from JSON</a>
			<a class="btn btn-success" href="/admin/exportBookRatings/csv">Export as CSV</a>
			<a class="btn btn-success" href="/admin/exportBookRatings/json">Export as JSON</a>
			<a class="btn btn-danger" href="/admin/delete/bookRatings">Delete all</a>
		</div>

		<table class="table table-striped">
			<tr>
				<th>User ID</th>
				<th>Books ID</th>
				<th>Rating</th>
			</tr>
			@for((rateItem, index) <- ratings.zipWithIndex) {
			<tr>
				<td>@rateItem.userID</td>
				<td>@rateItem.bookID</td>
				<td>@rateItem.rating</td>
			</tr>
			}
		</table>
	</div>
	@paginate(page, pageLength, count, routes.AdminController.listBookRating(_))
</div>

} }





