
@import helper._

@main("Welcome to Play") {
	@insertDashboard(""){
		<div id="container">
        @form(action = routes.InsertController.insertBook) {
        <h2 class="form-signin-heading">Insert a book</h2>
            <div id="contactInfo">
            <p>Title:</p>
              <input id="insertBookTitle" name="insertBookTitle" type="text" class="form-control"/>
            <p>Author:</p>
              <input id="insertBookAuthor" name="insertBookAuthor" type="text" class="form-control"/>
            <p>Year:</p>
              <input id="insertBookYear" name="insertBookYear" type="text" class="form-control"/>
              <p>Publisher:</p>
              <input id="insertBookPublisher" name="insertBookPublisher" type="text" class="form-control"/>
              <p>Image URL:</p>
              <input id="insertBookIMG" name="insertBookIMG" type="text" class="form-control"/>
              <p>Short description:</p>
              <input id="insertBookShortDescription" name="insertBookShortDescription" type="text" class="form-control"/>
              <p>Description:</p>
              <textarea id="insertBookDescription" name="insertBookDescription" class="form-control"></textarea>
            </div>
            <input  class="btn btn-lg btn-primary btn-success" type="submit" value="Submit" />
        }
    </div>      
	}
}

