
@import helper._

@main("Welcome to Play") {
	@insertDashboard(""){
		<div id="container">

        @form(action = routes.InsertController.insertCourse, 'class -> "smart-search-form") {
            <div id="contactInfo">
            <p>Title:</p>
              <input id="insertCourseTitle" name="insertCourseTitle" type="text" class="form-control"/>
             <p>Course URL</p>
              <input id="insertCourseURL" name="insertCourseURL" type="text" class="form-control"/>
              <p>Image url</p>
              <input id="insertCourseIMG" name="insertCourseIMG" type="text" class="form-control"/>
              <p>Short description:</p>
              <input id="insertCourseShortDescription" name="insertCourseShortDescription" type="text" class="form-control"/>
              <p>Description</p>
              <textarea id="insertCourseDescription" name="insertCourseDescription" class="form-control"></textarea>
            </div>
            <input  class="btn btn-lg btn-primary btn-success" type="submit" value="Submit" />
        }
    </div>      
	}
}

