@(message: String, signInForm: Form[UserController.Login])

@import helper._

@main("Contact") {
<div id="container">

        @form(routes.UserController.signIn(), 'class -> "form-signin") {
        <h2 class="form-signin-heading">Sign in</h2>
            <div id="contactInfo">
              @inputText(signInForm("email"), 'class -> "form-control")
              @inputText(signInForm("password"), 'class -> "form-control")
             <p>@message</p>
            </div>
            <input  class="btn btn-lg btn-primary btn-success" type="submit" value="Submit" />
        }
    </div>
}
    

