@(itemID:Long, title:String, description:String)
@import helper._
@main("Welcome to Play") {
	@rateItemsDashboard(""){
<div class="row">
	<div class="col-md-12">
		<div class="row">
		     <div class="col-md-6"> 
			    <table  class="table table-striped">
				    <tr>
					    <th>ID:</th>
					    <th>Title:</th>
					    <th>Desription:</th>
				    </tr>
				    <tr>
				    	<td>@itemID</td>
				    	<td>@title</td>
				    	<td>@description</td>
				    </tr>
			    </table>
		    </div>
		</div>
		<div class="col-md-12">
			<div class="row">
		      	<div class="caption">
		      	@form(action = routes.RateItemsController.postRate(itemID+"")) {
					<input id="input-21b" name="input-21b" type="number" class="rating form-control" min="0" max="5" step="0.1" data-size="lg">	
		          	<input class="btn btn-lg btn-primary btn-success" type="submit" value="Submit" />
				}		           	
		       	</div>
		    </div>
		</div>	
	</div>
		
	</div>
	}
}


