@main("Welcome to Play") {
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1>Recommender systems for E-learning</h1>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.</p>
    <p><a href="/about" class="btn btn-primary btn-lg" role="button">Learn more</a></p>
  </div>
</div>
<div class="container">
  <div class="row">
  <div class="col-md-3">
      <h2>Insert items</h2>
       <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.</p>
      <p><a class="btn btn-primary btn-lg" role="button" href="/insert/info">Insert items info</a></p>
    </div>
    <div class="col-md-3">
      <h2>Smart Search</h2>
       <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.</p>
      <p><a href="/smartSearch/info" class="btn btn-primary btn-lg" role="button">Smart Search info</a></p>
    </div>
    <div class="col-md-3">
      <h2>Get recomendation</h2>
       <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.</p>
       <p><a href="/recommendations/info" class="btn btn-primary btn-lg" role="button">Get reccomendations info</a></p>
   </div>
    <div class="col-md-3">
      <h2>Rate items</h2>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.</p>
      <p><a class="btn btn-primary btn-lg" role="button" href="/rateItems/info">Rate items info</a></p>
    </div>
  </div>
</div>				 
}

