@main("") {
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1>@Messages("jumbotron.title")</h1>
    <p>@Messages("jumbotron.text")</p>
    <p><a href="/about" class="btn btn-primary btn-lg" role="button">@Messages("learn.more.button")</a></p>
  </div>
</div>
<div class="container">
  <div class="row">
  <div class="col-md-3">
      <h2>@Messages("row.insert.items.title")</h2>
       <p>@Messages("row.insert.items.text")</p>
      <p><a class="btn btn-primary btn-lg" role="button" href="/insert/info">@Messages("row.insert.items.info")</a></p>
    </div>
    <div class="col-md-3">
      <h2>@Messages("row.smart.search.title")</h2>
       <p>@Messages("row.smart.search.text")</p>
      <p><a href="/smartSearch/info" class="btn btn-primary btn-lg" role="button">@Messages("row.smart.search.button")</a></p>
    </div>
    <div class="col-md-3">
      <h2>@Messages("row.get.recommendations.title")</h2>
       <p>@Messages("row.get.recommendations.text")</p>
       <p><a href="/recommendations/info" class="btn btn-primary btn-lg" role="button">@Messages("row.get.recommendations.button")</a></p>
   </div>
    <div class="col-md-3">
      <h2>@Messages("row.rate.items.title")</h2>
      <p>@Messages("row.rate.items.text")</p>
      <p><a class="btn btn-primary btn-lg" role="button" href="/rateItems/info">@Messages("row.rate.items.button")</a></p>
    </div>
  </div>
</div>				 
}

