@main("Welcome to Play") {
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1>Recommender systems</h1>
    <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
    <p><a href="/about" class="btn btn-primary btn-lg" role="button">Learn more</a></p>
  </div>
</div>
<div class="container">
  <div class="row">
  <div class="col-md-3">
      <h2>Insert items</h2>
      <p>Insert items provides the user with ability to insert new items in out database</p>
      <p><a class="btn btn-primary btn-lg" role="button" href="/insert/info">Insert items info</a></p>
    </div>
    <div class="col-md-3">
      <h2>Smart Search</h2>
      <p>Smart search use Decsion tree ...it usees jadTi java library for the decision tree implementation </p>
      <p><a href="/smartSearch/info" class="btn btn-primary btn-lg" role="button">Smart Search info</a></p>
    </div>
    <div class="col-md-3">
      <h2>Get recomendation</h2>
      <p>Using collaborative filtering based on apache mahout and using Collaborotive filtering algorithm</p>
       <p><a href="/recommendations/info" class="btn btn-primary btn-lg" role="button">Get reccomendations info</a></p>
   </div>
    <div class="col-md-3">
      <h2>Rate items</h2>
      <p>Rate items provide the user the ability to give its opinion (rating) about varios items and based on this rating get the recommendations</p>
      <p><a class="btn btn-primary btn-lg" role="button" href="/rateItems/info">Rate items info</a></p>
    </div>
  </div>
</div>				 
}

